.container{
    display : flex;
    align-items : flex-end;
    max-width : fit-content;
    margin-left: auto;
    margin-right: auto;
}
.container-item{
    width : 20px;
    margin-right : 0.1em;
    margin-left : 0.1em;
    background-color : black;
    color : white;
    text-align: center;
}
.active-item{
    background-color: red !important;
}